.welcome-section {
    background: #F0EFEB;
    font-size: 0;
    padding: 50px 0;

}
.container {
    margin: 0 auto;
    padding: 0 80px;
    max-width: 1170px;
}

.welcome-section-text {
    display: inline-block;
    width: 50%;
    font-family: 'Roboto';     
}

.welcome-section-title {
    font-weight: 700;
    font-size: 60px;
}


.welcome-section-desc {
    font-weight: 400;
    font-size: 24px;
}

.welcome-section-button {
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 15px;
    padding: 7px 23px;
    text-transform: capitalize;
}

.welcome-section-img {
    width: 50%;
    vertical-align: top;
}

